* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(35deg, #CCFFFF, #FFCCCC);
}

header {
  background: #CCFFFF);
  padding: 20px;
}

header >h1 {
  color: #24272E;
  text-align: center;
  font-family: sans-serif;
}

.score-board {
  margin: 20px auto;
  border: 3px solid #00008B;
  width: 200px;
  color: #00008B;
  font-size: 46px;
  border-radius: 4px;
  text-align: center;
  padding: 15px 20px;
  font-family: sans-serif;
}

.badge {
  background: #E2584D;
  color: white;
  font-size: 14px;
  font-family: sans-serif;
  padding: 2px 10px;
}
