* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b8c2cc;
}

header {
  background: #000000;
  opacity: 0.5;
  padding: 20px;
}

header > h1 {
  color: #ffffff;
  text-align: center;
  font-family: sans-serif;
}

.score-board {
  margin: 20px auto;
  border: 3px solid #00008b;
  width: 200px;
  color: #00008b;
  font-size: 46px;
  border-radius: 4px;
  text-align: center;
  padding: 15px 20px;
  font-family: sans-serif;
  position: relative;
}

.badge {
  background: #e2584d;
  color: white;
  font-size: 16px;
  font-family: sans-serif;
  padding: 2px 10px;
}

#user-label {
  position: absolute;
  top: 30px;
  left: -25px;
}

#computer-label {
  position: absolute;
  top: 30px;
  right: -35px;
}

.result {
  font-size: 40px;
  color: black;
}

.result > p {
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
}

.choices {
  text-align: center;
  margin-top: 50px;
}
.choice {
  display: inline-block;
  border: 4px solid black;
  border-radius: 50%;
  padding: 10px;
  margin: 0 20px;
  transition: all 0.3s ease;
}

.choice:hover {
  cursor: pointer;
  background: #24272e;
}

img {
  height: 100px;
  width: 90px;
}

#action-message {
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 30px;
}
