* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #b8c2cc;
}

header {
  background: #000000;
  opacity: 0.5;
  padding: 3vmin;
}

header > h1 {
  color: #ffffff;
  text-align: center;
  font-family: sans-serif;
  font-size: 2.5vw
}

.score-board {
  margin: 3vmin auto;
  border: 0.7vmin solid #00008b;
  width: 20vw;
  color: #00008b;
  font-size: 3vmax;
  border-radius: 1vmin;
  text-align: center;
  padding: 4vmin 5vmin;
  font-family: sans-serif;
  position: relative;
}

.badge {
  background: #e2584d;
  color: white;
  font-size: 1.4vmax;
  font-family: sans-serif;
  padding: 0.4vmax 0.8vmax;
}

#user-label {
  position: absolute;
  top: 3vmax;
  left: -4vmax;
}

#computer-label {
  position: absolute;
  top: 3vmax;
  right: -5vmax;
}

.result {
  font-size: 5vmin;
  color: black;
}

.result > p {
  text-align: center;
  font-family: sans-serif;
}

.choices {
  text-align: center;
  margin-top: 50px;
}
.choice {
  display: inline-block;
  border: 3px solid black;
  border-radius: 50%;
  padding: 15px;
  margin: 0 20px;
  transition: all 0.3s ease;
}

@media screen and (max-width: 500px) {
  .choice {
    display: block;
    border: 3px solid black;
    border-radius: 5em / 5em;
    padding: 2vw;
    margin: 4vh 30vw;
    transition: all 0.3s ease;
  }
}

.choice:hover {
  cursor: pointer;
  background: #fdf5e6;
}

img {
  height: 60px;
  width: 60px;
}

#action-message {
  text-align: center;
  color: black;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 30px;
}

.green-glow {
  border: 2px solid #04b913;
  box-shadow: 0 0 20px #04b913;
}

.red-glow {
  border: 2px solid #d01115;
  box-shadow: 0 0 20px #d01115;
}

.gray-glow {
  border: 2px solid #979708;
  box-shadow: 0 0 20px #979708;
}